[build]
  command = "npm run build"
  publish = "dist"

[build.environment]
  NODE_VERSION = "18.18.0"
  VITE_API_URL = "https://web-production-227cb.up.railway.app/api"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[functions]
  directory = "functions"
  included_files = ["src/**/*.jsx", "src/**/*.js"]

